li{
	text-decoration: none;
	color: #fff;
	margin-top: 4%;	
}

#mainmenu {
	width: 100%;
	text-align: center;
	color: #000;
	display: inline-block;
	text-decoration: none;
	transition: 0.7s;
	border-radius: 0px;
}

#mainmenu:hover {
	color: #fff;
	background: #000;
	display: inline-block;
	text-decoration: none;
}

#mainmenu a:hover {
	margin-top: 10%;
}

.fb{
	margin-top: 17%;
	color: #000;
	width: 200px;
}

.fb #cd-search-form .form-group button{
	transition: 1s;
	color: #000;
	border-radius: 4px;
}

.fb #cd-search-form .form-group button:hover{
	background: #444;
	color: #eee;
}

.centrar{
	text-align: center;
}

/*
.fb #cd-search-form .form-group button:hover{
	color: #eee;
	background: #000;
	border-radius: 10px;
}
*/

/*
@media (min-width : 480px){
	#mainmenu{
		display: none;
	}
}*/